.one{
    margin-left: 32px;
    margin-bottom: 17px;
    padding: 15px;
    border:2px solid black;
}

#two{
    font-size: 55px;
    
}
#three{
    color: aqua;
    font-size: 30px;
}

#fr{
    font-size: 30px;
}
span{
    color: rgb(218, 28, 28);
}
form{
    border: 4px solid black;
    margin: 200px;
}
